$def with (user1, user2, curve, base_point, bp_order)
<html>
	<head>
		<link href="static/calpoly.css" type='text/css' rel='stylesheet' />
	</head>
	<body>
		<div id='topRow'>
		</div>
		<div id='centerContainer'>
			<center>
				<table>
                    <tr>
                        <th> Username </th>
                        <th> Public Key </th>
                    </tr>
                    <tr>
                        <td> $user1[0] </td>
                        <td> $user1[1] </td>
                    </tr>
                    <tr>
                        <td> $user2[0] </td>
                        <td> $user2[1] </td>
                    </tr>
                </table>
				<table>
                    <tr>
                        <th> Curve </th>
                    </tr>
                    <tr>
                        <td> $curve </td>
                    </tr>
                </table>
				<table>
                    <tr>
                        <th> Base Point </th>
                    </tr>
                    <tr>
                        <td> $base_point </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th> Base Point Order </th>
                    </tr>
                    <tr>
                        <td> $bp_order </td>
                    </tr>
                </table>
			</center>
		</div>
		<div id='bottomRow'>
		</div>
	</body>
</html>
